
<ion-view title="Eatable">
  <ion-content>

    <div>
      <ul class="list">
        <li class="field-40 text-center padding-bottom">
          <label>Select allergens from the list</label>
        </li>
        <li class="item item-toggle button-medium field-40">
          <label>Peanut</label>
          <label class="toggle toggle-balanced">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle button-medium field-40">
          <label>Milk</label>
          <label class="toggle toggle-balanced">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle button-medium field-40">
          <label>Egg</label>
          <label class="toggle toggle-balanced">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle button-medium field-40">
          <label>Soy</label>
          <label class="toggle toggle-balanced">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle button-medium field-40">
          <label class="">Shellfish</label>
          <label class="toggle toggle-balanced">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle button-medium field-40">
          <label>Almond</label>
          <label class="toggle toggle-balanced">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

      </ul>
    </div>
    <button class="button button-stable button-medium button-full " ng-click="register()">
      Register
    </button>
    <label class="assertive">
      {{error}}
    </label>
  </ion-content>
  </ion-view>
