
<ion-view id="page1" title="Your Allergies">
  <ion-content class="has-header" padding="true">
    <p class=" " style="color:#000000;" id="yourAllergies-markdown1"></p>
    <p class=" " style="color:#000000;font-size:18px;text-align:center;" id="yourAllergies-markdown4">Tell us which of the following allergens you cannot eat</p>
    <form class="list " id="yourAllergies-form1">
      <ion-list>
        <ion-checkbox style="">Peanut</ion-checkbox>
        <ion-checkbox style="">Milk</ion-checkbox>
        <ion-checkbox style="">Egg</ion-checkbox>
        <ion-checkbox style="">Soy</ion-checkbox>
        <ion-checkbox style="">Shellfish</ion-checkbox>
        <ion-checkbox style="">Almond</ion-checkbox>
      </ion-list>
      <button class=" button button-allergies  button-block " id="yourAllergies-button1" ui-sref="home">Done</button>
    </form>
  </ion-content>
</ion-view>
